/* Mobile or small tablet in portrait mode */

@media (max-width: 600px) {
  body {
    flex-direction: column-reverse;
  }

  #top-container {
    height: 3em;
  }

  #menu {
    width: 100%;
  }
  #sidebar {
    width: 100%;
  }

  .map-popup-list {
    font-size: 1em;
  }

  .map-popup-more {
    height: 1.4em;
    font-size: 0.9em;
    line-height: 0.9em;
  }

  .map-popup-nav-button {
    font-size: 1em;
  }

  .filter-item {
    margin-bottom: 0;
    padding: 1em;
  }
}
